#menu-top{
    /* width: 20px; */
    position: absolute;
    top: 80px;
    left: 150px;
    font-size: 80px;
}
.landing{
    padding-top: 100px;
    text-align: center;
    background-image: url("landing.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    font-family: monospace;
    font-size: 40px;
}
.two{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    /* float: inherit; */
}
.two-one{
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    flex-grow: 1;
    height: 260px;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    font-style: normal;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
}
.happy-hour{
    background-color: rgb(189, 175, 175);
    flex-grow: 1;
}
.party-time{
    background-color: #f15a29;
    color: white;
    flex-grow: 1;
}
.breakfast{
    color: white;
    background-image: url("breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    /* width: 400px; */
    flex-grow: 1;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.lunch{
    color: white;
    background-image: url("dinner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    /* width: 400px; */
    flex-grow: 1;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
.dinner{
    color: white;
    background-image: url("dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    /* width: 400px; */
    flex-grow: 1;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 18px;
    font-family: monospace;
}
.fast-food{
    padding-top: 90px;
    padding-left: 310px;
    padding-right: 310px;
    display: flex;
    flex-direction: row;
    font-family: monospace;
}
.fast-food-p{
    font-size: 13px;
    text-align: left;
}
.drinks-p{
    font-size: 13px;
    text-align: right;
}
.fast-food-images{
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    border-style: double;
    border-width: 15px 15px;
    border-color: rgb(252, 250, 250);
}
.fast-food-text{
    /* max-width: 600px; */
    margin-left: 50px;
}
.drinks{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 310px;
    padding-right: 310px;
    display: flex;
    flex-direction: row;
    font-family: monospace;
    text-align: right;
}
.drinks-text{
    /* max-width: 600px; */
    margin-right: 50px;
}
.drinks-images{
    /* width: 400px; */
    /* height: 400px; */
    display: flex;
    flex-direction: row;
    border-style: double;
    border-width: 15px 15px;
    border-color: rgb(252, 250, 250);
}
.enclosed{
    background-image: url("foodsBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 120px;
}
.inner-white{
    background-color: rgb(245, 240, 240);
    /* padding-top: 80px; */
    margin-right: 220px;
    margin-left: 220px;
    height: 480px;
}
.enclosed-titles{
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
    /* align-items: center; */
}
.inner-fast{
    flex-grow: 1;
    text-align: center;
    color: #f15a29;
    
}
.inner-drinks{
    flex-grow: 1;
    text-align: center;
    font-family: monospace;
    background-color: rgb(223, 214, 214);
    border: solid rgb(206, 197, 197) 0.1rem;
}
.inner-chicken{
    flex-grow: 1;
    text-align: center;
    background-color: rgb(223, 214, 214);
    border: solid rgb(206, 197, 197) 0.1rem;
}
.inner-rice{
    flex-grow: 1;
    text-align: center;
    background-color: rgb(223, 214, 214);
    border: solid rgb(206, 197, 197) 0.1rem;
}
.enclosed-foods{
    display: flex;
    justify-content: space-around;
    color: #f15a29;
    font-family: monospace;
    font-size: 16px;
    align-items: center;
}
.chicken-burger{
    flex-grow: 1;
    text-align: center;
}
.beef-burger{
    flex-grow: 1;
    text-align: center;
}
.chicken-pizza{
    flex-grow: 1;
    text-align: center;
}
.second-last{
    background-color: rgb(245, 240, 240);
    margin-right: 220px;
    margin-left: 220px;
    height: 200px;
    margin-top: 80px;
    box-shadow: 2px 2px 2px gray;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 80px;
    align-items: center;
    padding-bottom: 20px;
}
.happy-customers-heading, .about-menu-heading {
    color: #f15a29;
}
.happy-customers-p, .about-menu-p{
    font-size: 15px;
}
hr{ 
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         20vh;
    width:          1px;    
    padding: 0 20px;
}
.happy-customers{
    margin-right: 50px;
}
.about-menu{
    max-width: 500px;
}

.subscription{
    color: white;
    height: 350px;
    background-image: url("subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.input-fields{
    display: flex;
    justify-content: center;
}
#subscribe{
    background-color: #f15a29 ;
    /* color: white; */
}
input{
    width: 20%;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 20px;
    margin: 8px 0;
    font-weight: inherit;
}
.get{
    padding-top: 120px;
    text-align: center;
    font-size: 35px;
}
footer{
    background-color: #f15a29;
    height: 360px;
    color: white;
    font-family: monospace;
    text-align: center;
    /* align-items: center; */
}
.menu h3{
    font-size: 45px;
}
.menu h4{
    font-size: 20px;
}
.logo{
    display: flex;
    justify-content:center;
    align-items: center;
}
.last-p{
    margin-bottom: 20px;
}