
.landing{
    padding-top: 200px;
    text-align: center;
    background-image: url("/assets/backgrounds/landing.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    font-family: monospace;
    font-size: 40px;
}
.two{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* float: inherit; */
}
.two-one{
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    flex-grow: 1;
    height: 260px;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    font-style: normal;
}
.happy-hour{
    background-color: rgb(189, 175, 175);
    flex-grow: 1;
}
.party-time{
    background-color: #f15a29;
    color: white;
    flex-grow: 1;
}
.breakfast{
    color: white;
    background-image: url("/assets/foodtop/breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    /* width: 400px; */
    flex-grow: 1;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    
}
.lunch{
    color: white;
    background-image: url("/assets/foodtop/dinner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    /* width: 400px; */
    flex-grow: 1;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
.dinner{
    color: white;
    background-image: url("/assets/foodtop/dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    /* width: 400px; */
    flex-grow: 1;
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 18px;
}
.fast-food{
    padding-top: 90px;
    padding-left: 310px;
    padding-right: 310px;
    display: flex;
    flex-direction: row;
    font-family: monospace;
}
.fast-food-p{
    font-size: 12px;
    text-align: left;
}
.drinks-p{
    font-size: 12px;
    text-align: right;
}
.fast-food-images{
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    border-style: double;
    border-width: 15px 15px;
    border-color: rgb(252, 250, 250);
}
.fast-food-text{
    /* max-width: 600px; */
    margin-left: 50px;
}
.drinks{
    padding-top: 60px;
    padding-left: 310px;
    padding-right: 310px;
    display: flex;
    flex-direction: row;
    font-family: monospace;
    text-align: right;
}
.drinks-text{
    /* max-width: 600px; */
    margin-right: 50px;
}
.drinks-images{
    /* width: 400px; */
    /* height: 400px; */
    display: flex;
    flex-direction: row;
    border-style: double;
    border-width: 15px 15px;
    border-color: rgb(252, 250, 250);
}